<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<body>
<div layout:fragment="content">

    <div class="subpage_banner" th:style="'background-image: url(' + @{/assets/images/top_visual5.png} + ')'">
        <div class="ly_grid">
            <div class="banner_title_area">
                <h3 class="banner_title">참여/소통</h3>
            </div>
        </div>
    </div>
    <div class="navigation"></div>

    <!-- CONTAINER -->
    <div class="container">
        <!-- CONTENT -->
        <div class="content">
            <div class="ly_grid">
                <div class="bl_title">
                    <div class="bl_title_left">
                        <div class="page_title">교육 주제 제안</div>
                    </div>
                </div>

                <!-- COMPONENT : BOX NOTE -->
                <div class="bl_boxNote">
                    <ul class="bl_list2 bl_list2__star">
                        <li>언론인연수와 미디어 리터러시 교육 주제를 제안하는 곳입니다.
                            <br>
                            보내주신 소중한 의견은 내부 검토를 통해 반영하도록 하겠습니다.</li>
                    </ul>
                </div>


                <div class="bl_title hp_mb15">
                    <div class="bl_title_left">
                        <div class="el_lv2heading">주제 제안 후 어떻게 처리되나요?</div>
                    </div>
                </div>

                <!-- COMPONENT : STEP -->
                <ul class="bl_step">
                    <li>
                        <span class="bl_step_img"><img th:src="@{/assets/images/subpage_community/proposition_step1.png}" alt="" ></span>
                        <span class="bl_step_txt">로그인</span>
                    </li>
                    <li>
                        <span class="bl_step_img"><img th:src="@{/assets/images/subpage_community/proposition_step2.png}" alt="" ></span>
                        <span class="bl_step_txt">교육 주제 제안</span>
                    </li>
                    <li>
                        <span class="bl_step_img"><img th:src="@{/assets/images/subpage_community/proposition_step3.png}" alt="" ></span>
                        <span class="bl_step_txt">검토 후 프로그램 반영</span>
                    </li>
                    <li>
                        <span class="bl_step_img"><img th:src="@{/assets/images/subpage_community/proposition_step4.png}" alt="" ></span>
                        <span class="bl_step_txt">의견 피드백</span>
                    </li>
                </ul>

                <div class="card_wrap">
                    <div class="card half pt-0 card__proposition">
                        <div>
                            <img th:src="@{/assets/images/subpage_community/proposition_icon.png}" alt="" >
                            <div class="text_box">
                                <p class="card_title">교육 주제 제안
                                    <br>(언론인)</p>
                            </div>
                            <div th:if="${#authentication?.principal != 'anonymousUser'}">
                                <button th:if="${#authentication?.principal?.roleGroup == 'JOURNALIST'}" id="authenticationButton" type="button" class="btn_type1 btn_blue" onclick="location.href='/communication/edu-suggestion/journalist'">바로가기</button>
                                <button th:unless="${#authentication?.principal?.roleGroup == 'JOURNALIST'}" id="authenticationButton" type="button" class="btn_type1 btn_lightgray" disabled>바로가기</button>
                            </div>
                            <div th:unless="${#authentication?.principal != 'anonymousUser'}">
                                <button id="authenticationButton" type="button" class="btn_type1 btn_lightgray" disabled>바로가기</button>
                            </div>
                        </div>
                    </div>
                    <div class="card half pt-0 card__proposition">
                        <div>
                            <img th:src="@{/assets/images/subpage_community/proposition_icon2.png}" alt="" >
                            <div class="text_box">
                                <p class="card_title">교육 주제 제안
                                    <br>(시민)</p>
                            </div>
                            <button type="button" class="btn_type1 btn_blue" onclick="location.href='/communication/edu-suggestion/public'">바로가기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /* <![CDATA[ */
            function onLoadSubmit() {
                console.log('commonCode: ', [[ ${commonCode} ]] )
                navigation(3,0,0);
            }
            /* ]]> */
        </script>
    </th:block>
</div>
</body>
</html>