<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<body>
<div layout:fragment="content">

    <div class="subpage_banner" th:style="'background-image: url(' + @{/assets/images/top_visual5.png} + ')'">
        <div class="ly_grid">
            <div class="banner_title_area">
                <h3 class="banner_title">참여/소통</h3>
            </div>
        </div>
    </div>
    <div class="navigation"></div>

    <!-- CONTAINER -->
    <div class="container">
        <!-- CONTENT -->
        <div class="content">
            <div class="ly_grid">
                <div class="bl_title">
                    <div class="bl_title_left">
                        <div class="page_title">미디어리터러시</div>
                    </div>
                </div>
                <iframe class="pdf_wrap" src=""></iframe>
            </div>
        </div>
    </div>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /* <![CDATA[ */
            function onLoadSubmit() {
                console.log('commonCode: ', [[ ${commonCode} ]] )
                navigation(3,2,2);

                var content = [[ ${content} ]][0]
                $(".pdf_wrap").attr("src", "/Public/lmsdata/"+content.sequenceNo+"/"+content.publicationFile)
            }
            /* ]]> */
        </script>
    </th:block>
</div>
</body>
</html>