<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<body>
<div layout:fragment="content">

    <div class="subpage_banner">
        <div class="ly_grid">
            <div class="banner_title_area">
                <h3 class="banner_title">공모/자격</h3>
            </div>
        </div>
    </div>
    <div class="navigation"></div>

    <!-- CONTAINER -->
    <div class="container">
        <!-- CONTENT -->
        <div class="content conent_business">
            <div class="ly_grid">
                <div class="page_title">미디어교육사</div>
                <div class="introduce">
                    <div>
                        <div class="introduce_text">
                            미디어 교육사는 미디어에 대한 이론적·실천적 지식을 바탕으로, 미디어  리터러시 교육에 관한<br>
                            기획 · 실행 · 분석 · 평가 업무를 수행하는 전문가입니다.<br>
                            미디어 교육사 자격시험은 1급과 2급으로 나뉘며 시험에 합격하고 직무교육을 이수하면 자격증이 발급됩니다.
                        </div>
                        <a href="https://license.kpc.or.kr/nasec/qplus/main.do?qtype=qplus&qcertiCode=MEI" target="_blank" class="btn_type1 btn_main">바로가기</a>
                    </div>
                    <div class="introduce_img">
                        <img th:src="@{/assets/images/subpage_business/bg_contents.png}" alt="">
                    </div>
                </div>

                <!-- COMPONENT : TABLE -->
                <table class="bl_table2 border_x_none">
                    <caption>내용</caption>
                    <thead>
                    <tr>
                        <th class="hp_lg_w120" scope="col">등급</th>
                        <th class="hp_lg_w236" scope="col">검정방법(문항유형)</th>
                        <th scope="col">검정 과목</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1급</td>
                        <td>실기(강의 실제)</td>
                        <td class="text-start">미디어 리터러시 강의 실제</td>
                    </tr>
                    <tr>
                        <td rowspan="2">2급</td>
                        <td>필기(선다형)</td>
                        <td class="text-start">미디어의 이해, 미디어 리터러시 교육의 이해, 미디어교육방법 및 사레</td>
                    </tr>
                    <tr>
                        <td>실기(서술형)</td>
                        <td class="text-start">미디어 리터러시 수업계획안 작성</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /* <![CDATA[ */
            function onLoadSubmit() {
                console.log('commonCode: ', [[ ${commonCode} ]] )
                navigation(2,1);
            }
            /* ]]> */
        </script>
    </th:block>
</div>
</body>
</html>
