<!-- FOOTER -->
<footer th:fragment="footer" class="footer">
    <div class="footer_topArea">
        <div class="ly_grid hp_spaceBetween">
            <ul class="footer_nav">
                <li>
                    <a href="/terms/privacy-policy">
                        <strong>개인정보처리방침</strong>
                    </a>
                </li>
                <li>
                    <a href="/terms/of-use">이용약관</a>
                </li>
            </ul>

            <div class="footer_famsite">
                <strong>관련사이트 바로가기</strong>
                <label for="relation_site" style="display:none;">관련사이트 바로가기</label>
                <select name="relation_site" id="relation_site" onchange="footChange(this.value)">
                    <option value="">관련사이트 바로가기</option>
                    <option value="http://www.kpf.or.kr">한국언론진흥재단</option>
                    <option value="https://enie.forme.or.kr">e-NIE</option>
                    <option value="https://dadoc.or.kr/">다독다독</option>
                </select>
            </div>
        </div>
    </div>

    <div class="footer_bottomArea" style="height:232px;">
        <div class="ly_grid hp_spaceBetween">
            <div class="footer_infos" style="width: 544px;">
                <address>서울특별시 중구 정동길 21-15 정동빌딩 2층 미디어교육원</address>
                <p class="footer_breadcrumb">
                    <span>대표 : 김효재</span>
                    <span>사업자등록번호 : 104-82-11163</span>
                </p>
                <p class="footer_breadcrumb">
                    <span class="footer_breadcrumb_tel">대표전화번호</span>
                    <span class="footer_breadcrumb_tel">(언론인연수팀) 02-2001-7217</span>
                    <span class="footer_breadcrumb_tel">(미디어교육팀) 02-2001-7233</span>
                    <br>
                    <span style="margin-left:16%;" class="footer_breadcrumb_tel">(광주지사) 062-652-2373,4</span>
                    <span class="footer_breadcrumb_tel" style="margin-left:2.8%;">(대구지사) 053-763-2116,7</span>
                    <br>
                    <span style="margin-left:16%;" class="footer_breadcrumb_tel">(부산지사) 051-759-2841,9 </span>
                    <span class="footer_breadcrumb_tel" style="margin-left:2.8%;">(세종대전지사) 042-527-4713,9</span>
                    <br>
                    <span style="margin-left:16%;" class="footer_breadcrumb_tel">(시스템문의) 070-8667-3269</span>
                </p>

                <p class="footer_copyright">Copyright &copy; 2022 KOREA PRESS FOUNDATION. <br>ALL RIGHTS RESERVED</p>
            </div>

            <div class="footer_logo"><img th:src="@{/assets/images/logo_footer.png}" alt="한국언론진흥재단" ></div>
        </div>
    </div>
    <script>
        function footChange(val){
            if(val !== ''){ location.href = val }
        }
    </script>
</footer>