<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<body>
<div layout:fragment="content">

    <div class="subpage_banner" th:style="'background-image: url(' + @{/assets/images/top_visual.png} + ')'">
        <div class="ly_grid">
            <div class="banner_title_area">
                <h3 class="banner_title">회원가입</h3>
            </div>
        </div>
    </div>

    <!-- CONTAINER -->
    <div class="container">
        <!-- CONTENT -->
        <div class="content content_join">
            <div class="ly_grid">
                <div class="join_step">
                    <div class="step step1">
                        <span>01</span>
                        <span>약관동의</span>
                        <div class="dot">
                            <div></div>
                            <div></div>
                            <div class="hp_show_pc"></div>
                        </div>
                    </div>
                    <div class="step step2">
                        <span>02</span>
                        <span>본인인증</span>
                        <div class="dot">
                            <div></div>
                            <div></div>
                            <div class="hp_show_pc"></div>
                        </div>
                    </div>
                    <div class="step step3 active">
                        <span>03</span>
                        <span>회원정보 입력</span>
                        <div class="dot">
                            <div></div>
                            <div></div>
                            <div class="hp_show_pc"></div>
                        </div>
                    </div>
                    <div class="step step4">
                        <span>04</span>
                        <span>회원가입 완료</span>
                    </div>
                </div>
                <div class="page_title hp_show_tb hp_show_mo">회원가입</div>
                <form id="createUserForm" name="createUserForm" method="POST" action="/anonymous/user/create">
                    <!-- 보호자 정보 - 일반(학생) -->
                    <div class="cont_title">보호자 정보</div>
                    <div class="common_input_wrap">
                        <!-- 본인인증 수행시 자동입력 정보(수정 불가) -->
                        <div class="common_input_box">
                            <div class="common_label">
                                <label for="NOK_userName"><span class="essential">*</span>이름</label>
                            </div>
                            <input type="text" name="NOK_userName" id="NOK_userName" class="common_input form_input" th:value="${userName}" readonly>
                        </div>
                        <div class="common_input_box">
                            <div class="common_label">
                                <label for="NOK_birth"><span class="essential">*</span>생년월일</label>
                            </div>
                            <input type="text" id="NOK_birth" class="common_input form_input" th:value="${birthDate}" readonly>
                        </div>
                        <div class="common_input_box">
                            <div class="common_label">
                                <label for="NOK_phone"><span class="essential">*</span>휴대폰번호</label>
                            </div>
                            <input type="tel" name="NOK_phone" id="NOK_phone" class="common_input form_input" th:value="${userPhone}" readonly>
                        </div>
                        <div class="common_input_box align-items-center">
                            <div class="common_label">
                                <label for="NOK_male"><span class="essential">*</span>성별</label>
                            </div>
                            <div>
                                <div class="radio_box">
                                    <input id="NOK_male" type="radio" name="NOK_gender" th:checked="${gender == '1' ? true : false}" disabled>
                                    <label for="NOK_male">
                                        <span></span>
                                        남성
                                    </label>
                                </div>
                                <div class="radio_box">
                                    <input id="NOK_female" type="radio" name="NOK_gender" th:checked="${gender != '1' ? true : false}" disabled>
                                    <label for="NOK_female">
                                        <span></span>
                                        여성
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cont_title">개인정보 <p class="guide_text">※ 14세 미만 가입자는 모두 일반(학생) 유형으로 가입됩니다.</p></div>
                    <div class="common_input_wrap">
                        <!-- 본인인증 수행시 자동입력 정보(수정 불가) -->
                        <div class="common_input_box">
                            <div class="common_label">
                                <label for="userName"><span class="essential">*</span>이름</label>
                            </div>
                            <div class="d-flex flex-column hp_md_w100p">
                                <div class="d-flex">
                                    <input type="text" name="userName" id="userName" class="common_input form_input">
                                </div>
                            </div>
                        </div>
                        <div class="common_input_box">
                            <div class="common_label">
                                <label for="birthDay"><span class="essential">*</span>생년월일</label>
                            </div>
                            <div class="d-flex hp_md_w100p">
                                <input type="text" name="birthDay" id="birthDay" class="common_input form_input el_datePicker">
                            </div>
                        </div>
                        <div class="common_input_box align-items-center">
                            <div class="common_label">
                                <span class="essential">*</span>성별
                            </div>
                            <div>
                                <div class="radio_box">
                                    <input id="male" type="radio" name="gender">
                                    <label for="male">
                                        <span></span>
                                        남성
                                    </label>
                                </div>
                                <div class="radio_box">
                                    <input id="female" type="radio" name="gender">
                                    <label for="female">
                                        <span></span>
                                        여성
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="common_input_box">
                            <div class="common_label">
                                <label for="userId"><span class="essential">*</span>아이디</label>
                            </div>
                            <div class="d-flex flex-column hp_md_w100p">
                                <div class="d-flex">
                                    <input type="text" name="userId" id="userId" class="common_input form_input" maxlength="12">
                                    <a class="btn_type1 btn_md btn_gray" onclick="idCheck()">중복체크</a>
                                </div>
                                <p class="input_text"><span class="essential">*</span>영문자 또는 영문자와 숫자의 조합으로 6~12자까지 조합, 한글, 특수문자, 띄어쓰기 등을 포함할 수 없음</p>
                            </div>
                        </div>
                        <div class="common_input_box">
                            <div class="common_label">
                                <label for="password"><span class="essential">*</span>비밀번호</label>
                            </div>
                            <div class="d-flex flex-column hp_md_w100p">
                                <input type="password" name="password" id="password" class="common_input form_input" >
                                <p class="input_text"><span class="essential">*</span>8자리 이상 25자리 이하 영문, 숫자, 특수문자 중 3가지 이상으로 조합</p>
                                <p class="input_text mt-0"><span class="essential">*</span>허용된 특수문자 : ~!@#$%^&*(){}[]&lt;&gt;?</p>
                            </div>
                        </div>
                        <div class="common_input_box">
                            <div class="common_label">
                                <label for="password2"><span class="essential">*</span>비밀번호 확인</label>
                            </div>
                            <div class="d-flex flex-column hp_md_w100p">
                                <input type="password" name="password2" id="password2" class="common_input form_input" >
                                <p class="input_text"><span class="essential">*</span>8자리 이상 25자리 이하 영문, 숫자, 특수문자 중 3가지 이상으로 조합</p>
                                <p class="input_text mt-0"><span class="essential">*</span>허용된 특수문자 : ~!@#$%^&*(){}[]&lt;&gt;?</p>
                            </div>
                        </div>
                        <div class="common_input_box">
                            <div class="common_label">
                                <label for="phone"><span class="essential">*</span>휴대폰번호</label>
                            </div>
                            <div class="d-flex flex-column hp_md_w100p">
                                <input type="tel" name="phone" id="phone" class="common_input form_input">
                                <p class="input_text"><span class="essential">*</span>휴대폰번호는 하이픈(-)을 제외한 숫자만 입력 ex. 01012345678</p>
                                <div class="radio_box_bottom">
                                    <div class="radio_box">
                                        <input id="tel_y" type="radio" name="tel_reception" checked="" >
                                        <label for="tel_y">
                                            <span></span>
                                            수신
                                        </label>
                                    </div>
                                    <div class="radio_box">
                                        <input id="tel_n" type="radio" name="tel_reception" >
                                        <label for="tel_n">
                                            <span></span>
                                            수신거부
                                        </label>
                                    </div>
                                    <p class="input_text mt-0"><span class="essential">*</span>수신거부로 설정해도 학습독려 및 수업진도관련 안내 메세지는 발송됩니다.</p>
                                </div>
                            </div>
                        </div>
                        <div class="common_input_box">
                            <div class="common_label">
                                <label for="email"><span class="essential">*</span>이메일</label>
                            </div>
                            <div class="d-flex flex-column hp_md_w100p">
                                <div class="email">
                                    <input type="text" name="email" id="email" class="common_input" >
                                    <div class="blank">@</div>
                                    <input type="text" name="email" id="email2" class="common_input" >
                                    <select class="common_select" name="email" id="email3" data-list="emailList"></select>
                                    <label for="email2" class="hidden_label">이메일2</label>
                                    <label for="email3" class="hidden_label">이메일 선택</label>
                                </div>
                                <div class="radio_box_bottom">
                                    <div class="radio_box">
                                        <input id="email_y" type="radio" name="email_reception" checked="" >
                                        <label for="email_y">
                                            <span></span>
                                            수신
                                        </label>
                                    </div>
                                    <div class="radio_box">
                                        <input id="email_n" type="radio" name="email_reception" >
                                        <label for="email_n">
                                            <span></span>
                                            수신거부
                                        </label>
                                    </div>
                                    <p class="input_text mt-0"><span class="essential">*</span>수신거부로 설정해도 학습독려 및 수업진도관련 안내 메세지는 발송됩니다.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 소속정보 - 일반(교원, 학생) -->
                    <div class="cont_title flex-row justify-content-between align-items-center">
                        소속정보
                        <div class="btn_type3 btn_register" onclick="registerOrg(1)">학교 등록신청</div>
                    </div>
                    <div class="common_input_wrap">
                        <div class="common_input_box">
                            <div class="common_label">
                                <label for="organizationName"><span class="essential">*</span>학교명</label>
                            </div>
                            <div class="d-flex flex-column hp_md_w100p">
                                <div class="d-flex">
                                    <input type="text" id="organizationName" class="common_input form_input" disabled >
                                    <div class="btn_type1  btn_md btn_gray" onclick="findOrganization()">찾아보기</div>
                                </div>
                                <p class="input_text"><span class="essential">*</span>학교 검색이 안될 경우, “기타”로 등록후에 학교 등록 신청을 해주시기 바랍니다.</p>
                                <input type="hidden" id="organizationCode" class="common_input form_input">
                            </div>
                        </div>
                        <div class="common_input_box">
                            <div class="common_label">
                                <label for="organizationZipCode">학교 주소</label>
                            </div>
                            <div class="d-flex flex-column hp_md_w100p">
                                <div class="d-flex">
                                    <input type="text" id="organizationZipCode" class="common_input form_input" disabled>
                                </div>
                                <input type="text" id="organizationAddress1" class="common_input form_input_lg" disabled >
                                <input type="text" id="organizationAddress2" class="common_input form_input_lg" disabled >
                                <label for="organizationAddress1" class="hidden_label">직장주소</label>
                                <label for="organizationAddress2" class="hidden_label">직장주소 상세</label>
                            </div>
                        </div>
                        <div class="common_input_box" style="display: none">
                            <div class="common_label">
                                <label for="organizationTelNumber1">학교 전화번호</label>
                            </div>
                            <div class="d-flex flex-column hp_md_w100p">
                                <div id="schoolTel" class="phone">
                                    <input id="organizationTelNumber1" name="organizationTelNumber1" type="text" maxlength="3" class="common_input" disabled >
                                    <div class="blank">-</div>
                                    <input id="organizationTelNumber2" name="organizationTelNumber2" type="text" maxlength="4" class="common_input" disabled >
                                    <div class="blank">-</div>
                                    <input id="organizationTelNumber3" name="organizationTelNumber3" type="text" maxlength="4" class="common_input" disabled >
                                    <label for="organizationTelNumber2" class="hidden_label">기관 전화번호 중간번호</label>
                                    <label for="organizationTelNumber3" class="hidden_label">기관 전화번호 마지막번호</label>
                                </div>
                            </div>
                        </div>
                        <div class="common_input_box" style="display: none">
                            <div class="common_label">
                                <label for="organizationFaxNumber1">팩스번호</label>
                            </div>
                            <div class="d-flex flex-column hp_md_w100p">
                                <div id="schoolFax" class="fax">
                                    <input id="organizationFaxNumber1" name="organizationFaxNumber1" type="text" maxlength="3" class="common_input" disabled >
                                    <div class="blank">-</div>
                                    <input id="organizationFaxNumber2" name="organizationFaxNumber2" type="text" maxlength="4" class="common_input" disabled >
                                    <div class="blank">-</div>
                                    <input id="organizationFaxNumber3" name="organizationFaxNumber3" type="text" maxlength="4" class="common_input" disabled >
                                    <label for="organizationFaxNumber2" class="hidden_label">기관 팩스번호 중간번호</label>
                                    <label for="organizationFaxNumber3" class="hidden_label">기관 팩스번호 마지막번호</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bl_gridBtns">
                        <div class="bl_gridBtns_md">
                            <div class="flex-column">
                                <button id="createUserButton" name="createUserButton" type="button" class="btn_type1 btn_lg btn_red" onclick="go()">가입하기</button>
                                <div class="input_text"><span class="essential">*</span>가입 자녀 정보가 중복되지 않도록 가입확인이 진행됩니다</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /* <![CDATA[ */
            var isMgTarget = false;
            var isIdCheck = false;
            var isChildCheck = false;
            var checkId;
            var params = {}
            var organizationCode;

            function onLoadSubmit() {
                domainWriteChk();
                $("#email3").change(function() {
                    if ($(this).val()) {
                        document.querySelector("#email2").value = $(this).children("option:selected").text();
                    } else {
                        document.querySelector("#email2").value = null;
                    }
                    domainWriteChk();
                })

                let now = new Date();
                var get14Date = new Date(now.setDate(now.getDate() - 5200));
                $('#birthDay').datepicker("option", "minDate", get14Date); // 만 14세 부터 가입(생년월일 설정)
            }

            // 가입 자녀 중복체크 alert
            function childCheck(name, birthday, phone) {
                let checkParam = {};
                checkParam.name = name;
                checkParam.birth = birthday;
                checkParam.phone = phone;

                $.ajax({ //jquery ajax
                    type:"post", //get방식으로 가져오기
                    url:"/api/user/child_check", //값을 가져올 경로
                    headers: {'Content-Type': 'application/json'},
                    data: JSON.stringify(checkParam),
                    dataType:"json", //html, xml, text, script, json, jsonp 등 다양하게 쓸 수 있음
                    success: function(data){   //요청 성공시 실행될 메서드
                        alert('가입 가능한 정보입니다. 가입하기를 다시 눌러주세요.');
                        isChildCheck = true;
                    },
                    error: function(e){		 //요청 실패시 에러 확인을 위함
                        if(e && e.responseJSON && e.responseJSON.resultMessage){
                            alert(e.responseJSON.resultMessage);
                        }else{
                            alert('가입 정보를 검사하는 과정에서 오류가 발생하였습니다.');
                        }
                        isChildCheck = false;
                    }
                })
            }

            // 아이디 찾기 중복체크 alert
            function idCheck() {
                if(!document.querySelector('#userId').value) { alert("ID를 입력해주세요."); return; }
                let regExp = CommonUtil.RegExp.Id;
                let str = document.querySelector('#userId').value;
                if( isMgTarget == false ){
                    if (str.length < 6) {
                        alert('아이디 형식이 올바르지 않습니다.'); return false;
                    } else {
                        if(!(regExp.test(str))) {
                            alert('아이디 형식이 올바르지 않습니다.'); return false;
                        }
                    }
                }

                $.ajax({ //jquery ajax
                    type:"get", //get방식으로 가져오기
                    url:"/api/user/check/" + document.querySelector('#userId').value, //값을 가져올 경로
                    dataType:"json", //html, xml, text, script, json, jsonp 등 다양하게 쓸 수 있음
                    success: function(data){   //요청 성공시 실행될 메서드
                        alert('사용 가능한 아이디입니다.');
                        isIdCheck = true;
                        checkId = document.querySelector('#userId').value;
                    },
                    error: function(e){		 //요청 실패시 에러 확인을 위함
                        if(e && e.responseJSON && e.responseJSON.resultMessage){
                            alert(e.responseJSON.resultMessage);
                        }else{
                            alert('아이디를 검사하는 과정에서 오류가 발생하였습니다.');
                        }
                        isIdCheck = false;
                    }
                })
            }

            // 미입력된 필수 정보가 있을 경우 alert
            function requiredChk() {
                /** 이전 데이터 초기화 전 필수 데이터 미리 셋팅 */
                const roleGroup = params.roleGroup;
                /** 회원 타입 이동 간 이전 데이터가 셋팅되어 있을 수 있으므로 초기화 */
                params={}; params.roleGroup = roleGroup;
                /** 중복 ID 체크 여부 */
                if(!isIdCheck) {
                    alert('ID 중복확인이 필요하거나 사용할 수 없는 ID 입니다.'); return false;
                }
                /** 사용가능 ID 체크 결과와 현재 셋팅 ID 확인 */
                if(checkId !== document.querySelector('#userId').value) {
                    alert('ID가 변조되었습니다.'); return false;
                }
                /** 비밀번호 동일 여부 확인 */
                if(!(document.querySelector('#password').value === document.querySelector('#password2').value)) {
                    alert('비밀번호와 비밀번호확인이 일치하지 않습니다.'); return false;
                }
                /** 비밀번호 유효성 검증 */
                let regPass = CommonUtil.RegExp.Password;
                if(!regPass.test(document.querySelector('#password').value)) {
                    alert('비밀번호가 유효하지 않습니다.'); return false;
                }
                /**
                 * 아이디
                 * 위변조 가능성이 있으므로 본인인증 후 들어온 파라미터로 재요청할 것...
                 * 폼 데이터로 절대 셋팅하지 말 것...
                 * 개발 단계에서만 직접 입력
                 */
                if(!document.querySelector('#userId').value) { alert('아이디는 필수입니다.'); return false; }
                else if( isMgTarget == false && !CommonUtil.RegExp.Id.test(document.querySelector('#userId').value)) { alert('아이디가 유효하지 않습니다.'); return false; }
                else { params.userId = document.querySelector('#userId').value }
                /** 비밀번호 */
                if(!document.querySelector('#password').value) { alert('비밀번호는 필수입니다.'); return false; }
                else { params.password = document.querySelector('#password').value }
                /** 사용자 명 */
                if(!document.querySelector('#userName').value) { alert('이름은 필수입니다.'); return false; }
                else { params.userName = document.querySelector('#userName').value }
                /**
                 * 사용자 생년월일
                 * 위변조 가능성이 있으므로 본인인증 후 들어온 파라미터로 재요청할 것...
                 * 폼 데이터로 절대 셋팅하지 말 것...
                 * 개발 단계에서만 직접 입력
                 */
                if(!document.querySelector('#birthDay').value) { alert('생년월일은 필수입니다.'); return false; }
                else { if(8 !== document.querySelector('#birthDay').value.replaceAll('-', '').length
                    || !/^[0-9]+$/.test(document.querySelector('#birthDay').value.replaceAll('-', ''))) { alert('유효하지 않은 생년월일입니다.'); return false; }
                else params.birthDay = document.querySelector('#birthDay').value.replaceAll('-', '');
                }
                /** 사용자 연락처 */
                if(!document.querySelector('#phone').value) { alert('연락처는 필수입니다.'); return false; }
                else { if(3 > document.querySelector('#phone').value.replaceAll('-', '').length
                    || document.querySelector('#phone').value.replaceAll('-', '').length > 11
                    || !/^[0-9]+$/.test(document.querySelector('#phone').value.replaceAll('-', ''))) { alert('유효하지 않은 연락처입니다.'); return false; }
                else params.phone = document.querySelector('#phone').value.replaceAll('-', '');
                }
                /** SMS 수신 동의 여부 */
                params.isSmsAgree = !!document.querySelector('#tel_y').checked;
                /** 이메일 주소 */
                if(!document.querySelector('#email').value || !document.querySelector('#email2').value) { alert('이메일 주소는 필수입니다.'); return false; }
                else {
                    let emailChk = CommonUtil.RegExp.Email;
                    if(emailChk.test(document.querySelector('#email').value+"@"+document.querySelector('#email2').value)) {
                        params.email = document.querySelector('#email').value+"@"+document.querySelector('#email2').value;
                    } else { alert('유효하지 않은 이메일입니다.'); return false; }
                }
                /** EMAIL 수신 동의 여부 */
                params.isEmailAgree = !!document.querySelector('#email_y').checked;
                /**
                 * 사용자 성별
                 * 위변조 가능성이 있으므로 본인인증 후 들어온 파라미터로 재요청할 것...
                 * 폼 데이터로 절대 셋팅하지 말 것...
                 * 개발 단계에서만 직접 선택
                 */
                if(document.querySelector('#male').checked) { params.gender = 1; }
                else { params.gender = 2; }

                if(!document.querySelector('#organizationName').value) { alert('소속 기관 명은 필수입니다.'); return false; }
                else {
                    params.organizationName = document.querySelector('#organizationName').value;
                    params.organizationCode = document.querySelector('#organizationCode').value;
                }

                /**
                 * 보호자 정보
                 */
                /** 보호자 성명 */
                if(!document.querySelector('#NOK_userName').value) { alert('보호자 성명은 필수입니다.'); return false; }
                else { params.parentName = document.querySelector('#NOK_userName').value }
                /** 보호자 생년월일 */
                if(!document.querySelector('#NOK_birth').value) { alert('보호자 생년월일은 필수입니다.'); return false; }
                else { if(8 !== document.querySelector('#NOK_birth').value.replaceAll('-', '').length
                    || !/^[0-9]+$/.test(document.querySelector('#NOK_birth').value.replaceAll('-', ''))) { alert('유효하지 않은 생년월일입니다.'); return false; }
                else params.parentBirthDay = document.querySelector('#NOK_birth').value.replaceAll('-', '');
                }
                /** 보호자 연락처 */
                if(!document.querySelector('#NOK_phone').value) { alert('보호자 연락처는 필수입니다.'); return false; }
                else { params.nokPhone = document.querySelector('#NOK_phone').value; }
                /** 보호자 성별 (1: 남성, 2: 여성) */
                if(document.querySelector('#NOK_male').checked) { params.parentGender = 1; }
                else { params.parentGender = 2; }

                return true;
            }

            async function findOrganization() { /* 학교 찾기 */
                let code = await CommonUI.searchMediaCompany(3);
                if (code) {
                    selectMediaCompanyInfo(code);
                }else{
                    alert('오류가 발생했습니다.');
                }
            }

            /* 매체사/학교/기관 등록신청 */
            async function registerOrg(registerType){
                let orgItem = await CommonUI.registerOrg(registerType);
                if(orgItem){
                    registerOrgInfo(orgItem);
                }else{
                    alert('오류가 발생했습니다.');
                }
            }

            function go() {
                /** 필수 값 체크 */
                if(!requiredChk()) return;
                if (isChildCheck) {
                    /** 회원 가입 호출 */
                    params.roleGroup="STUDENT"
                    $.ajax({ //jquery ajax
                        type:"post", //http method
                        url:"/api/user/create", //값을 가져올 경로
                        headers: {'Content-Type': 'application/json'},
                        data: JSON.stringify(params),
                        dataType:"json", //html, xml, text, script, json, jsonp 등 다양하게 쓸 수 있음
                        success: function(data){   //요청 성공시 실행될 메서드
                            /** 회원 가입 성공 */
                            location.href = '/user/join/result'
                        },
                        error: function(e){		 //요청 실패시 에러 확인을 위함
                            if(e && e.responseJSON && e.responseJSON.resultMessage){
                                alert(e.responseJSON.resultMessage);
                            }else{
                                alert('회원가입하는 과정에서 오류가 발생하였습니다.');
                            }
                        }
                    })
                } else {
                    let phone = [[${userPhone}]]
                    childCheck(params.userName, params.birthDay, phone)
                }
            }
            /* ]]> */
        </script>
    </th:block>

</div>
</body>
</html>
