<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<body>
<div layout:fragment="content">
    <div th:if="${authError == null}">
        <div class="subpage_banner" th:style="'background-image: url(' + @{/assets/images/top_visual2.png} + ')'">
            <div class="ly_grid">
                <div class="banner_title_area">
                    <h3 class="banner_title">마이페이지</h3>
                </div>
            </div>
        </div>
        <div class="navigation"></div>

        <!-- CONTAINER -->
        <div class="container">
            <!-- CONTENT -->
            <div class="content content_mypage">
                <div class="ly_grid">
                    <div class="bl_title">
                        <div class="bl_title_left">
                            <div class="page_title">강의현황</div>
                        </div>
                    </div>

                    <!-- 컴포넌트 : 탭 -->
                    <div class="bl_tab2 js_tab">
                        <div class="bl_iscroll" id="navTab2">
                            <div class="hp_md_iscroll">
                                <ul class="bl_tab2_menu">
                                    <li>
                                        <a href="/mypage/instructor-state/lecture">진행중인 사업</a>
                                    </li>
                                    <li>
                                        <a href="/mypage/instructor-state/lecture/complete">완료된 사업</a>
                                    </li>
                                    <li class="is_active">
                                        <a href="/mypage/instructor-state/calculate">강의료 정산</a>
                                    </li>
                                </ul>
                            </div>

                            <button class="bl_tab2_btnPrev" disabled><img th:src="@{/assets/images/icons/tab2_prev.png}" alt="이전"></button>
                            <button class="bl_tab2_btnNext"><img th:src="@{/assets/images/icons/tab2_next.png}" alt="다음"></button>
                        </div>

                        <div class="bl_tab2_body js_tab_contents">
                            <!-- 3. 강의료 정산 -->
                            <div class="bl_tab2_item js_tab_item">
                                <div class="bl_boxNote">
                                    <ul class="bl_list2 bl_list2__star">
                                        <li>
                                            강의료에 산정된 금액 중 일부는 언택트 강의 진행 여부에 따라 실제 지급 금액과 차이가 날 수 있습니다.<br >
                                            (언택트 강의-> 강의료 기본단가 적용 정산 규칙 시스템 반영 전)
                                        </li>
                                        <li>
                                            강의료 입금은 승인월 지급을 우선으로 하고 있으나, 일부 사정에 의해 입금 날짜가 조정될 수 있음을 안내드립니다.
                                        </li>
                                    </ul>
                                </div>

                                <!-- BOARD : CONTROLLER -->
                                <div class="bl_boardCtrls">
                                    <div class="bl_boardCtrls_lft">
                                        <p class="bl_boardCtrls_total">
                                            <strong th:text="${pageable.totalElements}"></strong>개의 게시글이 있습니다.
                                        </p>
                                    </div>
                                </div>

                                <!-- BOARD : LIST -->
                                <div class="bl_board">
                                    <div class="bl_board_head">
                                        <div class="bl_board_agency">기관명</div>
                                        <div class="bl_board_subject">사업명</div>
                                        <div class="bl_board_dateRange bl_board_dateRange_sm">교육기간</div>
                                        <div class="bl_board_lessonDate">수업일</div>
                                        <div class="bl_board_month">강의월</div>
                                        <div class="bl_board_month">승인월</div>
                                        <div class="bl_board_won">강의료</div>
                                    </div>

                                    <div class="bl_board_body">
                                        <div class="bl_board_unit" th:each="item:${content}">
                                            <div class="bl_board_agency" th:text="${item.bizOrganizationAply.organizationInfo.organizationName}">케이브레인</div>
                                            <a th:href="@{/business/instructor/view/{id}(id=${item.bizInstructorPbanc.sequenceNo})}" class="bl_board_subject">
                                                <span class="hp_ellipsis" th:text="${item.bizPbancMaster.bizPbancNm}">미디어교육 평생교실 8기</span>
                                            </a>
                                            <div class="bl_board_dateRange bl_board_dateRange_sm hp_md_ord51">
                                                <span class="bl_board_label hp_md_show">교육기간</span>
                                                 <span th:if="${#lists.size(item.bizOrganizationAplyDtls)>=2}">
                                                     <span th:text="${item.bizOrganizationAplyDtls[0].bizOrgAplyLsnDtlYmd}"></span>~
                                                     <span th:text="${item.bizOrganizationAplyDtls[1].bizOrgAplyLsnDtlYmd}"></span>
                                                 </span>
                                            </div>
                                            <div class="bl_board_lessonDate bl_board_md_label hp_md_ord51">
                                                <span class="bl_board_label hp_md_show">수업일</span>
                                                <span>
                                                    <th:block th:each="item2, stat2 : ${item.bizInstructorIdentifyDtls}">
                                                        <th:block th:text="${item2.bizOrganizationAplyDtl.bizOrgAplyLsnDtlYmd}"></th:block>
                                                        <th:block th:text="${#strings.substring(item2.bizOrganizationAplyDtl.bizOrgAplyLsnDtlBgngTm,0,5)}"></th:block>~
                                                        <th:block th:text="${#strings.substring(item2.bizOrganizationAplyDtl.bizOrgAplyLsnDtlEndTm,0,5)}"></th:block>
                                                        (<th:block th:text="${item2.bizOrganizationAplyDtl.bizOrgAplyLsnDtlHr}"></th:block>)
                                                        <br th:if="${stat2.count!=stat2.size}">
                                                    </th:block>
                                                </span>
                                            </div>
                                            <div class="bl_board_month bl_board_md_label hp_md_ord51">
                                                <span class="bl_board_label hp_md_show">강의월</span>
                                                <th:block th:if="${!#strings.isEmpty(item.bizInstrIdntyYm)}">
                                                    <span th:text="${#strings.substring(item.bizInstrIdntyYm, 0,4)}">2022.08</span>-
                                                    <span th:text="${#strings.substring(item.bizInstrIdntyYm, 4,6)}">2022.08</span>
                                                </th:block>
                                            </div>
                                            <div class="bl_board_month bl_board_md_label hp_md_ord51">
                                                <span class="bl_board_label hp_md_show">승인월</span>
                                                <th:block th:if="${!#strings.isEmpty(item.bizInstrIdntyAprvDt)}">
                                                    <span th:text="${#strings.substring(item.bizInstrIdntyAprvDt, 0,4)}">2022.08</span>-
                                                    <span th:text="${#strings.substring(item.bizInstrIdntyAprvDt, 5,7)}">2022.08</span>
                                                </th:block>
                                            </div>
                                            <div class="bl_board_won bl_board_md_label hp_md_ord51">
                                                <span class="bl_board_label hp_md_show">강의료</span>
                                                <span class="comma" th:text="${item.bizInstrIdntyAmt}">200,000</span>
                                            </div>
                                        </div>
                                        <div class="bl_board_unit bl_board_unit__empty" th:if="${#lists.isEmpty(content)}">
                                            <div class="bl_card_empty">등록된 사업이 없습니다.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="bl_paginate"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:unless="${authError == null}">
        <div th:include="@{views/error/accessRestriction}"></div>
    </div>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            if( [[${authError}]] == null ) {
                /* <![CDATA[ */
                $(".comma").each((index,item)=>{
                    if($(item).text() &&$(item).text() !='-' ){
                        $(item).text($(item).text().replace(/\B(?=(\d{3})+(?!\d))/g, ','))
                    }
                })
                function onLoadSubmit() {
                    console.log('commonCode: ', [[ ${commonCode} ]] )
                    pagination([[ ${pageable} ]], false)
                    navigation(0,2,1);
                }
                /* ]]> */
            } else {
                alert( [[${authError}]] );
                history.back();
            }
        </script>
    </th:block>
</div>
</body>
</html>
