<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<body>
<div layout:fragment="content">

    <div th:if="${authError == null}">
        <div class="subpage_banner" style="background-image: url(../../assets/images/top_visual6.png)">
            <div class="ly_grid">
                <div class="banner_title_area">
                    <h3 class="banner_title">고객센터</h3>
                </div>
            </div>
        </div>
        <div class="navigation"></div>

        <!-- CONTAINER -->
        <div class="container">
            <!-- CONTENT -->
            <div class="content content_mypage">
                <div class="ly_grid">
                    <div class="bl_title">
                        <div class="page_title">결과보고서</div>
                    </div>

                    <!-- BOARD : WRITE -->
                    <div class="bl_boardWrite bl_boardWrite__gray">
                        <table>
                            <colgroup>
                                <col class="hp_lg_w150">
                                <col>
                                <col class="hp_lg_w150">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row">
                                    담당자(기관)
                                </th>
                                <td>
                                    <span th:text="${content[0].bizOrganizationAply.bizOrgAplyPicNm}">홍길동</span>
                                    (<span th:text="${content[0].bizOrganizationAply.organizationInfo.organizationName}">케이브레인</span>)
                                </td>
                                <th scope="row">
                                    파견강사
                                </th>
                                <td id="teacherList">
                                    홍길동
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    사업기간
                                </th>
                                <td>
                                    <span th:text="${content[0].bizOrganizationAply.bizOrgAplyLsnPlanBgng}">2022-04-06</span>
                                    ~
                                    <span th:text="${content[0].bizOrganizationAply.bizOrgAplyLsnPlanEnd}">2022-04-13</span>
                                </td>
                                <th scope="row">
                                    강의시간
                                </th>
                                <td th:text="${content[0].bizOrganizationAply.bizOrgAplyTime}">
                                    16.0
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    수강인원
                                </th>
                                <td colspan="3">
                                    <span th:text="${content[0].bizOrganizationAply.bizOrgAplyLsnPlanNope}">15</span>명
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    교육주제
                                </th>
                                <td colspan="3" th:text="${content[0].bizOrganizationAply.bizPbancMaster.bizPbancNm}">
                                    주제 내용
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- BOARD : WRITE -->
                    <div class="bl_boardWrite bl_boardWrite__gray">
                        <table>
                            <colgroup>
                                <col class="hp_lg_w132">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col" colspan="2" class="hp_wAuto hp_lg_show">차시</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item:${content[0].bizOrganizationAply.bizOrganizationAplyDtls}">
                                <th:block th:if="${!#lists.isEmpty(item.bizInstructorAsgnms)&&!#lists.isEmpty(item.bizInstructorIdentifyDtls)&&item.bizInstructorAsgnms[0].bizInstructorAply!=null}">
                                <th scope="row">
                                    <span th:text="${item.bizOrgAplyLsnDtlRnd}"></span>
                                    <span class="hp_md_show">차시</span>
                                </th>
                                <td class="bl_boardWrite_clear">
                                    <table class="bl_boardWrite_table">
                                        <tbody>
                                        <tr>
                                            <th scope="row">일시</th>
                                            <td th:text="${item.bizOrgAplyLsnDtlYmd}">
                                                2022-04-06
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">강사</th>
                                            <td th:text="${item.bizInstructorAsgnms[0].bizInstructorAply.bizInstrAplyInstrNm}">
                                                강사
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">시간</th>
                                            <td>
                                                <span th:text="${#strings.substring(item.bizOrgAplyLsnDtlBgngTm,0,5)}">10:00</span> ~
                                                <span th:text="${#strings.substring(item.bizOrgAplyLsnDtlEndTm,0,5)}">12:00</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">내용</th>
                                            <td th:text="${item.bizInstructorIdentifyDtls[0].bizInstrIdntyDtlCn}">
                                                내용
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                </th:block>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="textarea_box">
                        <div style="margin-bottom: 10px">사업 성과</div>
                        <textarea class="common_input hp_w100p" cols="30" rows="10" disabled th:text="${content[0].bizOrgRsltRptRslt}">내용1</textarea>
                    </div>
                    <div class="textarea_box">
                        <div style="margin-bottom: 10px">우수 사례</div>
                        <textarea class="common_input hp_w100p" cols="30" rows="10" disabled th:text="${content[0].bizOrgRsltRptExmp}">내용2</textarea>
                    </div>
                    <div class="textarea_box">
                        <div style="margin-bottom: 10px">건의사항 및 개선사항</div>
                        <textarea class="common_input hp_w100p" cols="30" rows="10" disabled th:text="${content[0].bizOrgRsltRptDmnd}">내용3</textarea>
                    </div>

                    <div class="bl_boardView_file" style="margin-bottom: 10px">첨부파일
                        <div th:if="${content[0].bizOrgRsltRptFile != null && not #strings.isEmpty(content[0].bizOrgRsltRptFile)}">
                            <a class="btn_type5 btn_file download_ajax"
                               th:href="@{/api/business/organization/report/download(attachFilePath=${content[0].bizOrgRsltRptFile})}">
                                <span th:text="${content[0].bizOrgRsltRptFileOrigin != null ? content[0].bizOrgRsltRptFileOrigin : content[0].bizOrgRsltRptFile.split('/')[content[0].bizOrgRsltRptFile.split('/').length-1]}"></span>
                            </a>
                        </div>
                        <div class="guide_text" th:unless="${content[0].bizOrgRsltRptFile != null && not #strings.isEmpty(content[0].bizOrgRsltRptFile)}">
                            파일이 없습니다.
                        </div>
                    </div>

                    <div class="bl_gridBtns">
                        <div class="bl_gridBtns_rgt">
                            <a class="btn_type2" href="/mypage/business-state/result">목록</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:unless="${authError == null}">
        <div th:include="@{views/error/accessRestriction}"></div>
    </div>
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            if( [[${authError}]] == null ) {
                /* <![CDATA[ */
                function onLoadSubmit() {
                    navigation(0,0,0);
                }

                let idList = [];
                let teacherList = [];
                [[ ${content} ]][0].bizOrganizationAply.bizOrganizationAplyDtls.forEach(item => {
                    if(!(idList.includes(item.bizInstructorAsgnms[0].bizInstructorAply.bizInstrAplyInstrId))){
                        idList.push(item.bizInstructorAsgnms[0].bizInstructorAply.bizInstrAplyInstrId);
                        teacherList.push(item.bizInstructorAsgnms[0].bizInstructorAply.bizInstrAplyInstrNm);
                    }
                })
                document.getElementById('teacherList').innerText = teacherList.toString();

                /* ]]> */
            } else {
                alert( [[${authError}]] );
                history.back();
            }
        </script>
    </th:block>
</div>
</body>
</html>
