<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<body>
<div layout:fragment="content">
    <div th:if="${authError == null}">
        <div class="subpage_banner" th:style="'background-image: url(' + @{/assets/images/top_visual2.png} + ')'">
            <div class="ly_grid">
                <div class="banner_title_area">
                    <h3 class="banner_title">마이페이지</h3>
                </div>
            </div>
        </div>
        <div class="navigation"></div>

        <!-- CONTAINER -->
        <div class="container">
            <!-- CONTENT -->
            <div class="content">
                <div class="ly_grid">
                    <div class="bl_title">
                        <div class="bl_title_left">
                            <div class="page_title">공모사업</div>
                        </div>
                    </div>

                    <!-- 컴포넌트 : 탭 -->
                    <div class="bl_tab2 js_tab">
                        <div class="bl_iscroll" id="navTab2">
                            <div class="hp_md_iscroll">
                                <ul class="bl_tab2_menu">
                                    <li class="is_active">
                                        <a href="/mypage/business-state/apply">신청내역</a>
                                    </li>
                                    <li>
                                        <a href="/mypage/business-state">진행내역</a>
                                    </li>
                                    <li>
                                        <a href="/mypage/business-state/result">종료사업</a>
                                    </li>
                                </ul>
                            </div>

                            <button class="bl_tab2_btnPrev" disabled><img th:src="@{/assets/images/icons/tab2_prev.png}" alt="이전"></button>
                            <button class="bl_tab2_btnNext"><img th:src="@{/assets/images/icons/tab2_next.png}" alt="다음"></button>
                        </div>

                        <div class="sch_box">
                            <label for="bizPbancYr" class="hidden_label">년도</label>
                            <select id="bizPbancYr" class="common_select2" data-list="yearList"></select>
                            <label for="containText" class="hidden_label">검색어</label>
                            <input id="containText" class="common_input2 form_input_md" placeholder="사업명을 입력해주세요.">
                            <button type="button" th:onclick="search()" class="btn_type1 btn_blue"><img th:src="@{/assets/images/icons/btn_search.png}" alt="검색"> 검색</button>
                        </div>

                        <div class="bl_tab2_body js_tab_contents hp_mt60">
                            <!-- 1. 신청중인 사업 -->
                            <div class="bl_tab2_item js_tab_item">
                                <!-- BOARD : LIST -->
                                <div class="bl_board">
                                    <div class="bl_board_head">
                                        <div class="bl_board_year">년도</div>
                                        <div class="bl_board_ctg">구분</div>
                                        <div class="bl_board_subject">사업공고</div>
                                        <div class="bl_board_period">접수기간</div>
                                        <div class="bl_board_date">신청일시</div>
                                        <div class="bl_board_state bl_board_state_sm">상태</div>
                                    </div>

                                    <div class="bl_board_body">
                                        <div class="bl_board_unit" th:each="item:${content}">
                                            <th:block th:if="${#authentication.principal.userId == item.bizOrgAplyPic}">
                                                <div class="bl_board_year" th:text="${item.bizPbancMaster.bizPbancYr}">
                                                    2022
                                                </div>
                                                <div class="bl_board_ctg">
                                                    <span th:if="${item.bizPbancMaster.bizPbancCtgr == 0}">미디어교육</span>
                                                    <span th:if="${item.bizPbancMaster.bizPbancCtgr == 1}">언론인연수</span>
                                                </div>
                                                <a th:href="@{/mypage/business-state/apply/view/{id}(id=${item.bizOrgAplyNo})}" class="bl_board_subject">
                                                    <span class="hp_ellipsis" th:text="${item.bizPbancMaster.bizPbancNm}">2022년 지역신문활용 자유학기제 미디어교육(2차)</span>
                                                </a>
                                                <div class="bl_board_period">
                                                    <span th:text="${item.bizPbancMaster.bizPbancRcptBgng}">2022-06-02</span>~<span class="bizPbancRcptEnd" th:text="${item.bizPbancMaster.bizPbancRcptEnd}">2022-06-17</span>
                                                </div>
                                                <div class="bl_board_date" th:text="${#strings.substring(item.createDateTime,0,10)}">
                                                    2022-06-02
                                                </div>
                                                <div class="bl_board_state bl_board_state_sm">
                                                    <!-- 임시저장 -->
                                                    <a th:href="@{/mypage/business-state/apply/write/{id}(id=${item.bizOrgAplyNo})}" th:if="${item.bizOrgAplyStts == 0}">
                                                        <span class="btn_type4 btn_gray btn_underline">임시저장</span>
                                                    </a>
                                                    <!-- 접수 -->
                                                    <a th:href="@{/mypage/business-state/apply/view/{id}(id=${item.bizOrgAplyNo})}" th:if="${item.bizOrgAplyStts == 1}">
                                                        <span class="btn_type4 btn_underline">접수</span>
                                                    </a>
                                                    <!-- 승인 -->
                                                    <a th:href="@{/mypage/business-state/apply/view/{id}(id=${item.bizOrgAplyNo})}" th:if="${item.bizOrgAplyStts == 2}">
                                                        <span class="btn_type4 btn_green btn_underline">승인</span>
                                                    </a>
                                                    <!-- 반려 -->
                                                    <a th:href="@{/mypage/business-state/apply/reject/{id}(id=${item.bizOrgAplyNo})}" th:if="${item.bizOrgAplyStts == 3}">
                                                        <span class="btn_type4 btn_red btn_underline">반려</span>
                                                    </a>
                                                    <!-- 가승인 -->
                                                    <a th:href="@{/mypage/business-state/apply/view/{id}(id=${item.bizOrgAplyNo})}" th:if="${item.bizOrgAplyStts == 9}">
                                                        <span class="btn_type4 btn_red btn_underline">가승인</span>
                                                    </a>
                                                </div>
                                            </th:block>

                                            <th:block th:unless="${#authentication.principal.userId == item.bizOrgAplyPic}">
                                                <div class="bl_board_year" th:text="${item.bizPbancMaster.bizPbancYr}">
                                                    2022
                                                </div>
                                                <div class="bl_board_ctg">
                                                    <span th:if="${item.bizPbancMaster.bizPbancCtgr == 0}">미디어교육</span>
                                                    <span th:if="${item.bizPbancMaster.bizPbancCtgr == 1}">언론인연수</span>
                                                </div>
                                                <a class="bl_board_subject notMyApp">
                                                    <span class="hp_ellipsis" th:text="${item.bizPbancMaster.bizPbancNm}">2022년 지역신문활용 자유학기제 미디어교육(2차)</span>
                                                </a>
                                                <div class="bl_board_period">
                                                    <span th:text="${item.bizPbancMaster.bizPbancRcptBgng}">2022-06-02</span>~<span class="bizPbancRcptEnd" th:text="${item.bizPbancMaster.bizPbancRcptEnd}">2022-06-17</span>
                                                </div>
                                                <div class="bl_board_date" th:text="${#strings.substring(item.createDateTime,0,10)}">
                                                    2022-06-02
                                                </div>
                                                <div class="bl_board_state bl_board_state_sm">
                                                    <!-- 임시저장 -->
                                                    <a th:if="${item.bizOrgAplyStts == 0}" class="notMyApp">
                                                        <span class="btn_type4 btn_gray btn_underline">임시저장</span>
                                                    </a>
                                                    <!-- 접수 -->
                                                    <a class="notMyApp" th:if="${item.bizOrgAplyStts == 1}">
                                                        <span class="btn_type4 btn_underline">접수</span>
                                                    </a>
                                                    <!-- 승인 -->
                                                    <a class="notMyApp" th:if="${item.bizOrgAplyStts == 2}">
                                                        <span class="btn_type4 btn_green btn_underline">승인</span>
                                                    </a>
                                                    <!-- 반려 -->
                                                    <a class="notMyApp" th:if="${item.bizOrgAplyStts == 3}">
                                                        <span class="btn_type4 btn_red btn_underline">반려</span>
                                                    </a>
                                                    <!-- 가승인 -->
                                                    <a class="notMyApp" th:if="${item.bizOrgAplyStts == 9}">
                                                        <span class="btn_type4 btn_red btn_underline">가승인</span>
                                                    </a>
                                                </div>
                                            </th:block>
                                        </div>
                                    </div>
                                    <div class="bl_board_unit bl_board_unit__empty" th:if="${#lists.isEmpty(content)}">
                                        <div class="bl_card_empty">등록된 사업이 없습니다.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="bl_paginate" th:unless="${#lists.isEmpty(content)}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:unless="${authError == null}">
        <div th:include="@{views/error/accessRestriction}"></div>
    </div>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            if( [[${authError}]] == null ) {
                function search(){
                    let searchQuery = {}
                    let name = $("#containText").val();
                    let year = $("#bizPbancYr").val();
                    if(name){
                        searchQuery.containText = name
                    }
                    if(year && year!=0){
                        searchQuery.bizPbancYr = year
                    }
                    if(searchQuery.containText || searchQuery.bizPbancYr){
                        searchJson(searchQuery)
                    }
                }
                /* <![CDATA[ */
                function onLoadSubmit() {
                    console.log('commonCode: ', [[ ${commonCode} ]] )
                    pagination([[ ${pageable} ]], false)
                    navigation(0,0,0)

                    $(".notMyApp").each((index, item)=>{
                        $(item).bind('click', function (){
                            alert('사업 신청 담당자가 아닙니다. 담당자 계정에서 확인해 주세요.')
                        })
                    })
                    let now = new Date();
                    now.setUTCHours(now.getUTCHours()+9);
                    let toDay = now.toJSON().split('T')[0];
                    $(".bl_board_unit").each((index, item)=>{
                        let endDate = $(item).find(".bizPbancRcptEnd").text();
                        let stts = $(item).find(".btn_type4").text()=="임시저장"?true:false;
                        if(toDay>endDate && stts){
                            $(item).find(".btn_underline ").parent().removeAttr("href");
                            $(item).find(".btn_underline ").bind("click", function (){alert('접수기간이 종료되었습니다.')});
                        }
                    })
                }
                /* ]]> */
            } else {
                alert( [[${authError}]] );
                history.back();
            }
        </script>
    </th:block>

</div>
</body>
</html>
