<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<body>
<div layout:fragment="content">

    <div class="subpage_banner" style="background-image: url(../assets/images/top_visual.png)">
        <div class="ly_grid">
            <div class="banner_title_area">
                <h3 class="banner_title">회원가입</h3>
            </div>
        </div>
    </div>

    <!-- CONTAINER -->
    <div class="container">
        <!-- CONTENT -->
        <div class="content content_join">
            <div class="ly_grid">
                <div class="join_step">
                    <div class="step step1">
                        <span>01</span>
                        <span>약관동의</span>
                        <div class="dot">
                            <div></div>
                            <div></div>
                            <div class="hp_show_pc"></div>
                        </div>
                    </div>
                    <div class="step step2">
                        <span>02</span>
                        <span>본인인증</span>
                        <div class="dot">
                            <div></div>
                            <div></div>
                            <div class="hp_show_pc"></div>
                        </div>
                    </div>
                    <div class="step step3">
                        <span>03</span>
                        <span>회원정보 입력</span>
                        <div class="dot">
                            <div></div>
                            <div></div>
                            <div class="hp_show_pc"></div>
                        </div>
                    </div>
                    <div class="step step4 active">
                        <span>04</span>
                        <span>회원가입 완료</span>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <img th:src="@{/assets/images/subpage_join/join_icon5.png}" alt="" >
                        <div class="text_box">
                            <p class="card_title">미디어아카데미(KPF 미카) 회원으로 가입되셨습니다.</p>
                            <p class="card_text">로그인을 하시면 모든 서비스 이용이 가능합니다.</p>
                        </div>
                        <a href="/login" class="btn_type1 btn_blue">로그인 바로가기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /* <![CDATA[ */
            function onLoadSubmit() {}
            /* ]]> */
        </script>
    </th:block>
</div>
</body>
</html>
